<a href="https://colab.research.google.com/github/Sneberger/CSE572Lab1/blob/main/Spring2024_CSE572_Lab1_Intro_to_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSE 572: Lab 1

This lab contains two modules:
1.   Module 1: Introduction to Python
2.   Module 2: Introduction to Numpy and Pandas

At the end there is a practice exercise in which you will use some of the operations from Modules 1 and 2.

To execute and make changes to this notebook, click File > Save a copy to save your own version in your Google Drive or Github. Read the step-by-step instructions below carefully. To execute the code, click on each cell below and press the SHIFT-ENTER keys simultaneously or by clicking the Play button.

When you finish executing all code/exercises, save your notebook then download a copy (.ipynb file). Submit:

1) .ipynb file

2) link to your Colab notebook saved on your Google Drive (set the sharing options to share with anyone at ASU so the TA can view it). This should be added as a comment on your submission.

3) pdf of executed notebook (In Colab, click File > Print > Save as PDF)

# **PUT YOUR GROUP INFO HERE**

| Group number | August Group XXX |            |
|--------------|------------------|------------|
| Member 1     | Michael Sneberger| 1000001544 |
| Member 2     |                  |            |
| Member 3     |                  |            |
| Member 4     |                  |            |

# Module 1: Introduction to Python

Python is a high-level programming language with extensive libraries available to perform various data analysis tasks.
The following tutorial contains examples of using various data types, functions, and library modules available in the standard Python library.

We begin with some basic information about Python:
1. Python is an interpreted language, unlike other high-level programming languages such as C or C++. You only need to submit your Python program to an interpreter for execution, without having to explicitly compile and link the code first.

2. Python is a dynamically typed language, which means variable names are bound to their respective types during execution time. You do not have to explicitly declare the type of a variable before using it in the code unlike Java, C++, and other statically-typed languages.

3. Instead of using braces '{' and '}', Python uses whitespace indentation to group together related statements in loops or other control-flow statements.

4. Python uses the hash character ('#') to precede single-line comments. Triple-quoted strings (''') are commonly used to denote multi-line comments (even though it is not part of the standard Python language) or docstring of functions.

5. Python uses pass by reference (instead of pass by value) when assigning a variable to another (e.g., a = b) or when passing an object as input argument to a function. Thus, any modification to the assigned variable or to the input argument within the function will affect the original object.  

6. Python uses `None` to denote a null object (e.g., a = None). You do not have to terminate each statement with a terminating character (such as a semicolon) unlike other languages.

7. You may access the variables or functions defined in another Python program file using the `import` command. This is analogous to the `import` command in Java or the `#include` command in C or C++.

In [ ]:
elieve the lab

## 1.1 Elementary Data Types

The standard Python library provides support for various elementary data types, including including integers, booleans, floating points, and strings. A summary of the data types is shown in the table below.

| &nbsp;  |      Data Type    |   Example   |
|:--------|:-----------------:|:------------|
|Number   | Integer           | x = 4       |
| &nbsp;  | Long integer      | x = 15L     |
| &nbsp;  | Floating point    | x = 3.142   |
| &nbsp;  | Boolean           | x = True    |
|Text     | Character         | x = 'c'     |
| &nbsp;  | String            | x = "this" or x = 'this' |

In [ ]:
x = 4              # integer
print(x, type(x))

y = True           # boolean (True, False)
print(y, type(y))

z = 3.7            # floating point
print(z, type(z))

s = "This is a string"    # string
print(s, type(s))

The following are some of the arithmetic operations available for manipulating integers and floating point numbers

In [ ]:
x = 4            # integer
x1 = x + 4       # addition
x2 = x * 3       # multiplication
x += 2           # equivalent to x = x + 2
x3 = x
x *= 3           # equivalent to x = x * 3
x4 = x
x5 = x % 4       # modulo (remainder) operator

z = 3.7          # floating point number
z1 = z - 2       # subtraction
z2 = z / 3       # division
z3 = z // 3      # integer division
z4 = z ** 2      # square of z
z5 = z4 ** 0.5   # square root
z6 = pow(z,2)    # equivalent to square of z
z7 = round(z)    # rounding z to its nearest integer
z8 = int(z)      # type casting float to int

print(x,x1,x2,x3,x4,x5)
print(z,z1,z2,z3,z4)
print(z5,z6,z7,z8)

The following are some of the functions provided by the math module for integers and floating point numbers

In [ ]:
import math

x = 4
print(math.sqrt(x))      # sqrt(4) = 2
print(math.pow(x,2))     # 4**2 = 16
print(math.exp(x))       # exp(4) = 54.6
print(math.log(x,2))     # log based 2  (default is natural logarithm)
print(math.fabs(-4))     # absolute value
print(math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

z = 0.2
print(math.ceil(z))      # ceiling function
print(math.floor(z))     # floor function
print(math.trunc(z))     # truncate function

z = 3*math.pi            # math.pi = 3.141592653589793
print(math.sin(z))       # sine function
print(math.tanh(z))      # arctan function

x = math.nan             # not a number
print(math.isnan(x))

x = math.inf             # infinity
print(math.isinf(x))

The following are some of the logical operations available for booleans

In [ ]:
y1 = True
y2 = False

print(y1 and y2)       # logical AND
print(y1 or y2)        # logical OR
print(y1 and not y2)   # logical NOT

The following are some of the operations and functions for manipulating strings

In [ ]:
s1 = "This"

print(s1[1:])                    # print last three characters
print(len(s1))                               # get the string length
print("Length of string is " + str(len(s1))) # type casting int to str
print(s1.upper())                            # convert to upper case
print(s1.lower())                            # convert to lower case

s2 = "This is a string"
words = s2.split(' ')             # split the string into words
print(words[0])
print(s2.replace('a','another'))  # replace "a" with "another"
print(s2.replace('is','at'))      # replace "is" with "at"
print(s2.find("a"))               # find the position of "a" in s2
print(s1 in s2)                   # check if s1 is a substring of s2

print(s1 == 'This')               # equality comparison
print(s1 < 'That')                # inequality comparison
print(s2 + " too")                # string concatenation
print((s1 + " ")* 3)              # replicate the string 3 times

## 1.2 Compound Data Types

The following examples show how to create and manipulate a list object

In [ ]:
intlist = [1, 3, 5, 7, 9]
print(type(intlist))
print(intlist)
intlist2 = list(range(0,10,2))   # range[startvalue, endvalue, stepsize]
print(intlist2)

print(intlist[2])                # get the third element of the list
print(intlist[:2])               # get the first two elements
print(intlist[2:])               # get the last three elements of the list
print(intlist[-2:])              # get the last two elements of the list
print(len(intlist))              # get the number of elements in the list
print(sum(intlist))              # sums up elements of the list

intlist.append(11)               # insert 11 to end of the list
print(intlist)
print(intlist.pop())             # remove last element of the list
print(intlist)
print(intlist + [11,13,15])      # concatenate two lists
print(intlist * 3)               # replicate the list
intlist.insert(2,4)              # insert item 4 at index 2
print(intlist)
intlist.sort(reverse=True)       # sort elements in descending order
print(intlist)

In [ ]:
mylist = ['this', 'is', 'a', 'list']
print(mylist)
print(type(mylist))

print("list" in mylist)          # check whether "list" is in mylist
print(mylist[2])                 # show the 3rd element of the list
print(mylist[:2])                # show the first two elements of the list
print(mylist[2:])                # show the last two elements of the list
mylist.append("too")             # insert element to end of the list

separator = " "
print(separator.join(mylist))    # merge all elements of the list into a string

mylist.remove("is")              # remove element from list
print(mylist)

The following examples show how to create and manipulate a dictionary object

In [ ]:
abbrev = {}
abbrev['MI'] = "Michigan"
abbrev['MN'] = "Minnesota"
abbrev['TX'] = "Texas"
abbrev['CA'] = "California"

print(abbrev)
print(abbrev.keys())            # get the keys of the dictionary
print(abbrev.values())          # get the values of the dictionary
print(len(abbrev))              # get number of key-value pairs

print(abbrev.get('MI'))
print("FL" in abbrev)
print("CA" in abbrev)

In [ ]:
keys = ['apples', 'oranges', 'bananas', 'cherries']
values = [3, 4, 2, 10]
fruits = dict(zip(keys, values))
print(fruits)
print(sorted(fruits))     # sort keys of dictionary

from operator import itemgetter
print(sorted(fruits.items(), key=itemgetter(0)))    # sort by key of dictionary
print(sorted(fruits.items(), key=itemgetter(1)))    # sort by value of dictionary

The following examples show how to create and manipulate a tuple object. Unlike a list, a tuple object is immutable, i.e., they cannot be modified after creation.

In [ ]:
MItuple = ('MI', 'Michigan', 'Lansing')
CAtuple = ('CA', 'California', 'Sacramento')
TXtuple = ('TX', 'Texas', 'Austin')

print(MItuple)
print(MItuple[1:])

states = [MItuple, CAtuple, TXtuple]    # this will create a list of tuples
print(states)
print(states[2]) # print the third tuple in the list
print(states[2][:]) # print all the values in the third tuple
print(states[2][1:]) # print the last two values in the third tuple

states.sort(key=lambda state: state[2])  # sort the states by their capital cities (last value in list)
print(states)

## 1.3 Control Flow Statements

Similar to other programming languages, the control flow statements in Python include if, for, and while statements. Examples on how to use these statements are shown below.

In [ ]:
# using if-else statement

x = 10

if x % 2 == 0:
    print("x =", x, "is even")
else:
    print("x =", x, "is odd")

if x > 0:
    print("x =", x, "is positive")
elif x < 0:
    print("x =", x, "is negative")
else:
    print("x =", x, "is neither positive nor negative")

In [ ]:
# using for loop with a list

mylist = ['this', 'is', 'a', 'list']
for word in mylist:
    print(word.replace("is", "at"))

mylist2 = [len(word) for word in mylist]   # number of characters in each word
print(mylist2)

In [ ]:
# using for loop with list of tuples

states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin')]

sorted_capitals = [state[2] for state in states]
sorted_capitals.sort()
print(sorted_capitals)

In [ ]:
# using for loop with dictionary

fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [k for (k,v) in fruits.items()]
print(fruitnames)

In [ ]:
# using while loop

mylist = list(range(-10,10))
print(mylist)

i = 0
while (mylist[i] < 0):
    i = i + 1

print("First non-negative number:", mylist[i])

## 1.4 User-Defined Functions

You can create your own functions in Python, which can be named or unnamed. Unnamed functions are defined using the lambda keyword as shown in the previous example for sorting a list of tuples.

In [ ]:
myfunc = lambda x: 3*x**2 - 2*x + 3      # example of an unnamed quadratic function

print(myfunc(2))

In [ ]:
import math

# The following function will discard missing values from a list
def discard(inlist, sortFlag=False):    # default value for sortFlag is False
    outlist = []
    for item in inlist:
        if not math.isnan(item):
            outlist.append(item)

    if sortFlag:
        outlist.sort()
    return outlist

mylist = [12, math.nan, 23, -11, 45, math.nan, 71]

print(discard(mylist,True))

## 1.5 File I/O

You can read and write data from a list or other objects to a file.

In [ ]:
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]

with open('states.txt', 'w') as f:
    f.write('\n'.join('%s,%s,%s' % state for state in states))

with open('states.txt', 'r') as f:
    for line in f:
        fields = line.split(sep=',')    # split each line into its respective fields
        print('State=',fields[1],'(',fields[0],')','Capital:', fields[2])

# Module 2: Introduction to Numpy and Pandas

The following tutorial contains examples of using the numpy and pandas library modules.

## 2.1 Introduction to Numpy

Numpy, which stands for numerical Python, is a Python library package to support numerical computations. The basic data structure in numpy is a multi-dimensional array object called ndarray. Numpy provides a suite of functions that can efficiently manipulate elements of the ndarray.

### 2.1.1 Creating ndarray

An ndarray can be created from a list or a tuple object as shown in the examples below. It is possible to create a 1-dimensional or multi-dimensional array from the list objects as well as tuples.

In [ ]:
import numpy as np

oneDim = np.array([1.0,2,3,4,5])   # a 1-dimensional array (vector)
print(oneDim)
print("#Dimensions =", oneDim.ndim)
print("Dimension =", oneDim.shape)
print("Size =", oneDim.size)
print("Array type =", oneDim.dtype, '\n')

twoDim = np.array([[1,2],[3,4],[5,6],[7,8]])  # a two-dimensional array (matrix)
print(twoDim)
print("#Dimensions =", twoDim.ndim)
print("Dimension =", twoDim.shape)
print("Size =", twoDim.size)
print("Array type =", twoDim.dtype, '\n')

arrFromTuple = np.array([(1,'a',3.0),(2,'b',3.5)])  # create ndarray from tuple
print(arrFromTuple)
print("#Dimensions =", arrFromTuple.ndim)
print("Dimension =", arrFromTuple.shape)
print("Size =", arrFromTuple.size)

There are also built-in functions available in numpy to create the ndarrays.

In [ ]:
print('Array of random numbers from a uniform distribution')
print(np.random.rand(5))      # random numbers from a uniform distribution between [0,1]

print('\nArray of random numbers from a normal distribution')
print(np.random.randn(5))     # random numbers from a normal distribution

print('\nArray of integers between -10 and 10, with step size of 2')
print(np.arange(-10,10,2))    # similar to range, but returns ndarray instead of list

print('\n2-dimensional array of integers from 0 to 11')
print(np.arange(12).reshape(3,4))  # reshape to a matrix

print('\nArray of values between 0 and 1, split into 10 equally spaced values')
print(np.linspace(0,1,10))    # split interval [0,1] into 10 equally separated values

print('\nArray of values from 10^-3 to 10^3')
print(np.logspace(-3,3,7))    # create ndarray with values from 10^-3 to 10^3

In [ ]:
print('A 2 x 3 matrix of zeros')
print(np.zeros((2,3)))        # a matrix of zeros

print('\nA 3 x 2 matrix of ones')
print(np.ones((3,2)))         # a matrix of ones

print('\nA 3 x 3 identity matrix')
print(np.eye(3))              # a 3 x 3 identity matrix

## 2.1.2 Element-wise Operations

You can apply standard operators such as addition and multiplication on each element of the ndarray.

In [ ]:
x = np.array([1,2,3,4,5])

print('x =', x)
print('x + 1 =', x + 1)      # addition
print('x - 1 =', x - 1)      # subtraction
print('x * 2 =', x * 2)      # multiplication
print('x // 2 =', x // 2)     # integer division
print('x ** 2 =', x ** 2)     # square
print('x % 2 =', x % 2)      # modulo
print('1 / x =', 1 / x)      # division

In [ ]:
x = np.array([2,4,6,8,10])
y = np.array([1,2,3,4,5])

print('x =', x)
print('y =', y)
print('x + y =', x + y)      # element-wise addition
print('x - y =', x - y)      # element-wise subtraction
print('x * y =', x * y)      # element-wise multiplication
print('x / y =', x / y)      # element-wise division
print('x // y =', x // y)    # element-wise integer division
print('x ** y =', x ** y)    # element-wise exponentiation

## 2.1.3 Indexing and Slicing

There are various ways to select a subset of elements within a numpy array. Assigning a numpy array (or a subset of its elements) to another variable will simply pass a reference to the array instead of copying its values. To make a copy of an ndarray, you need to explicitly call the .copy() function.

In [ ]:
x = np.arange(-5,5)
print('Before: x =', x)

y = x[3:5]     # y is a slice, i.e., pointer to a subarray in x
print('        y =', y)
y[:] = 1000    # modifying the value of y will change x
print('After : y =', y)
print('        x =', x, '\n')

z = x[3:5].copy()   # makes a copy of the subarray
print('Before: x =', x)
print('        z =', z)
z[:] = 500          # modifying the value of z will not affect x
print('After : z =', z)
print('        x =', x)

There are many ways to access elements of an ndarray. The following example illustrates the difference between indexing elements of a list and elements of ndarray.

In [ ]:
my2dlist = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]  # a 2-dim list
print('my2dlist =', my2dlist)
print('my2dlist[2] =', my2dlist[2])            # access the third sublist
print('my2dlist[:][2] =', my2dlist[:][2])      # can't access third element of each sublist
# print('my2dlist[:,2] =', my2dlist[:,2])      # invalid way to access sublist, will cause syntax error

my2darr = np.array(my2dlist)
print('\nmy2darr =\n', my2darr)

print('my2darr[2][:] =', my2darr[2][:])      # access the third row
print('my2darr[2,:] =', my2darr[2,:])        # access the third row
print('my2darr[:][2] =', my2darr[:][2])      # access the third row (similar to 2d list)
print('my2darr[:,2] =', my2darr[:,2])        # access the third column
print('my2darr[:2,2:] =\n', my2darr[:2,2:])     # access the first two rows & last two columns

Numpy arrays also support boolean indexing.

In [ ]:
my2darr = np.arange(1,13,1).reshape(3,4)
print('my2darr =\n', my2darr)

divBy3 = my2darr[my2darr % 3 == 0]
print('\nmy2darr[my2darr % 3 == 0] =', divBy3)            # returns all the elements divisible by 3 in an ndarray

divBy3LastRow = my2darr[2:, my2darr[2,:] % 3 == 0]
print('my2darr[2:, my2darr[2,:] % 3 == 0] =', divBy3LastRow)    # returns elements in the last row divisible by 3

More indexing examples.

In [ ]:
my2darr = np.arange(1,13,1).reshape(4,3)
print('my2darr =\n', my2darr)

indices = [2,1,0,3]    # selected row indices
print('indices =', indices, '\n')
print('my2darr[indices,:] =\n', my2darr[indices,:])  # this will shuffle the rows of my2darr

rowIndex = [0,0,1,2,3]     # row index into my2darr
print('\nrowIndex =', rowIndex)
columnIndex = [0,2,0,1,2]  # column index into my2darr
print('columnIndex =', columnIndex, '\n')
print('my2darr[rowIndex,columnIndex] =', my2darr[rowIndex,columnIndex])

## 2.1.4 Numpy Arithmetic and Statistical Functions

Numpy provides many built-in mathematical functions available for manipulating elements of an ndarray.

In [ ]:
y = np.array([-1.4, 0.4, -3.2, 2.5, 3.4])
print('y =', y, '\n')

print('np.abs(y) =', np.abs(y))                # convert to absolute values
print('np.sqrt(abs(y)) =', np.sqrt(abs(y)))    # apply square root to each element
print('np.sign(y) =', np.sign(y))              # get the sign of each element
print('np.exp(y) =', np.exp(y))                # apply exponentiation
print('np.sort(y) =', np.sort(y))              # sort array

In [ ]:
x = np.arange(-2,3)
y = np.random.randn(5)
print('x =', x)
print('y =', y, '\n')

print('np.add(x,y) =', np.add(x,y))                # element-wise addition       x + y
print('np.subtract(x,y) =', np.subtract(x,y))      # element-wise subtraction    x - y
print('np.multiply(x,y) =', np.multiply(x,y))      # element-wise multiplication x * y
print('np.divide(x,y) =', np.divide(x,y))          # element-wise division       x / y
print('np.maximum(x,y) =', np.maximum(x,y))        # element-wise maximum        max(x,y)

In [ ]:
y = np.array([-3.2, -1.4, 0.4, 2.5, 3.4])
print('y =', y, '\n')

print("Min =", np.min(y))             # min
print("Max =", np.max(y))             # max
print("Average =", np.mean(y))        # mean/average
print("Std deviation =", np.std(y))   # standard deviation
print("Sum =", np.sum(y))             # sum

## 2.1.5 Numpy linear algebra

Numpy provides many functions to support linear algebra operations.

In [ ]:
X = np.random.randn(2,3)                         # create a 2 x 3 random matrix
print('X =\n', X, '\n')
print('Transpose of X, X.T =\n', X.T, '\n')      # matrix transpose operation X^T

y = np.random.randn(3) # random vector
print('y =', y, '\n')

print('Matrix-vector multiplication')
print('X.dot(y) =\n', X.dot(y), '\n')            # matrix-vector multiplication  X * y

print('Matrix-matrix product')
print('X.dot(X.T) =', X.dot(X.T))        # matrix-matrix multiplication  X * X^T
print('\nX.T.dot(X) =\n', X.T.dot(X))      # matrix-matrix multiplication  X^T * X

In [ ]:
X = np.random.randn(5,3)
print('X =\n', X, '\n')

C = X.T.dot(X)               # C = X^T * X is a square matrix
print('C = X.T.dot(X) =\n', C, '\n')

invC = np.linalg.inv(C)      # inverse of a square matrix
print('Inverse of C = np.linalg.inv(C)\n', invC, '\n')

detC = np.linalg.det(C)      # determinant of a square matrix
print('Determinant of C = np.linalg.det(C) =', detC)

S, U = np.linalg.eig(C)      # eigenvalue S and eigenvector U of a square matrix
print('Eigenvalues of C =\n', S)
print('Eigenvectors of C =\n', U)

## 2.2 Introduction to Pandas

Pandas provide two convenient data structures for storing and manipulating data: Series and DataFrame. A Series is similar to a one-dimensional array whereas a DataFrame is a tabular representation akin to a spreadsheet table.  

### 2.2.1 Series

A Series object consists of a one-dimensional array of values, whose elements can be referenced using an index array. A Series object can be created from a list, a numpy array, or a Python dictionary. You can apply most of the numpy functions on the Series object.

In [ ]:
from pandas import Series

s = Series([3.1, 2.4, -1.7, 0.2, -2.9, 4.5])   # creating a series from a list
print('Series, s =\n', s, '\n')

print('s.values =', s.values)     # display values of the Series
print('s.index =', s.index)       # display indices of the Series
print('s.dtype =', s.dtype)       # display the element type of the Series

In [ ]:
import numpy as np

s2 = Series(np.random.randn(6))   # creating a series from a numpy ndarray
print('Series s2 =\n', s2, '\n')
print('s2.values =', s2.values)   # display values of the Series
print('s2.index =', s2.index)     # display indices of the Series
print('s2.dtype =', s2.dtype)     # display the element type of the Series

In [ ]:
s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2],
            index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6',])
print('Series s3 =\n', s3, '\n')
print('s3.values =', s3.values)   # display values of the Series
print('s3.index =', s3.index)     # display indices of the Series
print('s3.dtype =', s3.dtype)     # display the element type of the Series

In [ ]:
capitals = {'MI': 'Lansing', 'CA': 'Sacramento', 'TX': 'Austin', 'MN': 'St Paul'}

s4 = Series(capitals)   # creating a series from dictionary object
print('Series s4 =\n', s4, '\n')
print('s4.values =', s4.values)   # display values of the Series
print('s4.index=', s4.index)      # display indices of the Series
print('s4.dtype =', s4.dtype)     # display the element type of the Series

In [ ]:
s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2],
            index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6',])
print('s3 =\n', s3, '\n')

# Accessing elements of a Series

print('s3[2]=', s3[2])        # display third element of the Series
print('s3[\'Jan 3\']=', s3['Jan 3'])   # indexing element of a Series

print('\ns3[1:3]=')             # display a slice of the Series
print(s3[1:3])
print('\ns3.iloc([1:3])=')      # display a slice of the Series
print(s3.iloc[1:3])

There are various functions available to find the number of elements in a Series. Result of the function depends on whether null elements are included.

In [ ]:
s3['Jan 7'] = np.nan
print('Series s3 =\n', s3, '\n')

print('Shape of s3 =', s3.shape)   # get the dimension of the Series
print('Size of s3 =', s3.size)     # get the number of elements of the Series
print('Count of s3 =', s3.count()) # get the number of non-null elements of the Series

A boolean filter can be used to select elements of a Series

In [ ]:
print(s3[s3 > 0])   # applying filter to select non-negative elements of the Series

Scalar operations can be performed on elements of a numeric Series

In [ ]:
print('s3 + 4 =\n', s3 + 4, '\n')
print('s3 / 4 =\n', s3 / 4)

Numpy functions can be applied to pandas Series.

In [ ]:
print('np.log(s3 + 4) =\n', np.log(s3 + 4), '\n')    # applying log function to a numeric Series
print('np.exp(s3 - 4) =\n', np.exp(s3 - 4), '\n')    # applying exponent function to a numeric Series

The value_counts() function can be used for tabulating the counts of each discrete value in the Series.

In [ ]:
colors = Series(['red', 'blue', 'blue', 'yellow', 'red', 'green', 'blue', np.nan])
print('colors =\n', colors, '\n')

print('colors.value_counts() =\n', colors.value_counts())

### 2.2.2 DataFrame

A DataFrame object is a tabular, spreadsheet-like data structure containing a collection of columns, each of which can be of different types (numeric, string, boolean, etc). Unlike Series, a DataFrame has distinct row and column indices. There are many ways to create a DataFrame object (e.g., from a dictionary, list of tuples, or even numpy's ndarrays).

In [ ]:
from pandas import DataFrame

cars = {'make': ['Ford', 'Honda', 'Toyota', 'Tesla'],
       'model': ['Taurus', 'Accord', 'Camry', 'Model S'],
       'MSRP': [27595, 23570, 23495, 68000]}
carData = DataFrame(cars)            # creating DataFrame from dictionary
carData                              # display the table

In [ ]:
print('carData.index =', carData.index)         # print the row indices
print('carData.columns =', carData.columns)     # print the column indices

Inserting columns to an existing dataframe

In [ ]:
carData2 = DataFrame(cars, index = [1,2,3,4])  # change the row index
carData2['year'] = 2018    # add column with same value
carData2['dealership'] = ['Courtesy Ford','Capital Honda','Spartan Toyota','N/A']
carData2                   # display table

Creating DataFrame from a list of tuples.

In [ ]:
tuplelist = [(2011,45.1,32.4),(2012,42.4,34.5),(2013,47.2,39.2),
              (2014,44.2,31.4),(2015,39.9,29.8),(2016,41.5,36.7)]
columnNames = ['year','temp','precip']
weatherData = DataFrame(tuplelist, columns=columnNames)
weatherData

Creating DataFrame from numpy ndarray

In [ ]:
import numpy as np

npdata = np.random.randn(5,3)  # create a 5 by 3 random matrix
columnNames = ['x1','x2','x3']
data = DataFrame(npdata, columns=columnNames)
data

There are many ways to access elements of a DataFrame object.

In [ ]:
# accessing an entire column will return a Series object

print(data['x2'])
print(type(data['x2']))

In [ ]:
# accessing an entire row will return a Series object

print('Row 3 of data table:')
print(data.iloc[2])       # returns the 3rd row of DataFrame
print(type(data.iloc[2]))

print('\nRow 3 of car data table:')
print(carData2.iloc[2])   # row contains objects of different types

In [ ]:
# accessing a specific element of the DataFrame

print('carData2 =\n', carData2)

print('\ncarData2.iloc[1,2] =', carData2.iloc[1,2])                # retrieving second row, third column
print('carData2.loc[1,\'model\'] =', carData2.loc[1,'model'])    # retrieving second row, column named 'model'

# accessing a slice of the DataFrame

print('\ncarData2.iloc[1:3,1:3]=')
print(carData2.iloc[1:3,1:3])

In [ ]:
print('carData2 =\n', carData2, '\n')

print('carData2.shape =', carData2.shape)
print('carData2.size =', carData2.size)

In [ ]:
# selection and filtering

print('carData2 =\n', carData2, '\n')

print('carData2[carData2.MSRP > 25000] =')
print(carData2[carData2.MSRP > 25000])

### 2.2.3 Arithmetic Operations

In [ ]:
print(data)

print('\nData transpose operation: data.T')
print(data.T)    # transpose operation

print('\nAddition: data + 4')
print(data + 4)    # addition operation

print('\nMultiplication: data * 10')
print(data * 10)   # multiplication operation

In [ ]:
print('data =\n', data)

columnNames = ['x1','x2','x3']
data2 = DataFrame(np.random.randn(5,3), columns=columnNames)
print('\ndata2 =')
print(data2)

print('\ndata + data2 = ')
print(data.add(data2))

print('\ndata * data2 = ')
print(data.mul(data2))

In [ ]:
print(data.abs())    # get the absolute value for each element

print('\nMaximum value per column:')
print(data.max())    # get maximum value for each column

print('\nMinimum value per row:')
print(data.min(axis=1))    # get minimum value for each row

print('\nSum of values per column:')
print(data.sum())    # get sum of values for each column

print('\nAverage value per row:')
print(data.mean(axis=1))    # get average value for each row

print('\nCalculate max - min per column')
f = lambda x: x.max() - x.min()
print(data.apply(f))

print('\nCalculate max - min per row')
f = lambda x: x.max() - x.min()
print(data.apply(f, axis=1))

The value_counts() function can also be applied to a pandas DataFrame

In [ ]:
objects = {'shape': ['circle', 'square', 'square', 'square', 'circle', 'rectangle'],
           'color': ['red', 'red', 'red', 'blue', 'blue', 'blue']}

shapeData = DataFrame(objects)
print('shapeData =\n', shapeData, '\n')

print('shapeData.value_counts() =\n', shapeData.value_counts().sort_values())

### 2.2.4 Plotting Series and DataFrame

There are many built-in functions available to plot the data stored in a Series or a DataFrame.

**(a)** Line plot

In [ ]:
%matplotlib inline

s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2,1.4],
            index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6','Jan 7'])

In [ ]:
s3.plot(kind='line', title='Line plot')

**(b)** Bar plot

In [ ]:
s3.plot(kind='bar', title='Bar plot')

**(c)** Histogram

In [ ]:
s3.plot(kind='hist', title = 'Histogram')

**(d)** Box plot

In [ ]:
tuplelist = [(2011,45.1,32.4),(2012,42.4,34.5),(2013,47.2,39.2),
              (2014,44.2,31.4),(2015,39.9,29.8),(2016,41.5,36.7)]
columnNames = ['year','temp','precip']
weatherData = DataFrame(tuplelist, columns=columnNames)
weatherData[['temp','precip']].plot(kind='box', title='Box plot')

**(e)** Scatter plot

In [ ]:
print('weatherData =\n', weatherData)

weatherData.plot(kind='scatter', x='temp', y='precip')

# Exercise: Explore crop production dataset

The dataset `Production_Crops_E_Asia.csv` contains crop production statistics from the United Nations Food and Agriculture Organization (UN FAO) in East Asian countries from 1961 to 2019 (source: https://data.world/agriculture/crop-production). In this exercise, you'll explore the dataset using some of the operations from Modules 1-2 in this lab.

In [3]:
import pandas as pd

In [4]:
# Load the CSV file from its storage location on Google Drive
prod = pd.read_csv('https://docs.google.com/uc?export=download&id=1r2DzEFS5tb5NjoIyAl6FvUDYW5DOKm5q')

In [5]:
prod

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,ha,NaN,NaN,NaN,...,14676.0,NaN,19481.0,NaN,19793.0,NaN,20053.0,NaN,29203.0,NaN
1,2,Afghanistan,221,"Almonds, with shell",5419,Yield,hg/ha,NaN,NaN,NaN,...,16521.0,Fc,16859.0,Fc,13788.0,Fc,17161.0,Fc,13083.0,Fc
2,2,Afghanistan,221,"Almonds, with shell",5510,Production,tonnes,NaN,NaN,NaN,...,24246.0,NaN,32843.0,NaN,27291.0,NaN,34413.0,NaN,38205.0,NaN
3,2,Afghanistan,711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,M,NaN,...,25000.0,F,25787.0,Im,28398.0,Im,26725.0,Im,27562.0,Im
4,2,Afghanistan,711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,7200.0,Fc,6982.0,Fc,6863.0,Fc,6898.0,Fc,6903.0,Fc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9633,249,Yemen,1729,"Treenuts, Total",5419,Yield,hg/ha,NaN,NaN,NaN,...,18805.0,Fc,18061.0,Fc,17863.0,Fc,17513.0,Fc,17516.0,Fc
9634,249,Yemen,1729,"Treenuts, Total",5510,Production,tonnes,NaN,NaN,NaN,...,11014.0,A,10591.0,A,10484.0,A,10483.0,A,11340.0,A
9635,249,Yemen,1735,Vegetables Primary,5312,Area harvested,ha,7000.0,A,7100.0,...,42489.0,A,39887.0,A,38612.0,A,40647.0,A,41528.0,A
9636,249,Yemen,1735,Vegetables Primary,5419,Yield,hg/ha,107143.0,Fc,107042.0,...,113518.0,Fc,106887.0,Fc,107777.0,Fc,112627.0,Fc,115155.0,Fc
9637,249,Yemen,1735,Vegetables Primary,5510,Production,tonnes,75000.0,A,76000.0,...,482325.0,A,426339.0,A,416147.0,A,457796.0,A,478214.0,A

How many unique countries are in the dataset? What are the names of the countries? Print a list of the unique countries from the 'Area' column as well as the number of unique countries.

In [7]:
print(prod['Area'].unique())
print('Number of unique countries: {}'.format(len(prod['Area'].unique())))

['Afghanistan' 'Armenia' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Bhutan'
 'Brunei Darussalam' 'Cambodia' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Cyprus'
 "Democratic People's Republic of Korea" 'Georgia' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Israel' 'Japan' 'Jordan'
 'Kazakhstan' 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic"
 'Lebanon' 'Malaysia' 'Maldives' 'Mongolia' 'Myanmar' 'Nepal' 'Oman'
 'Pakistan' 'Palestine' 'Philippines' 'Qatar' 'Republic of Korea'
 'Saudi Arabia' 'Singapore' 'Sri Lanka' 'Syrian Arab Republic'
 'Tajikistan' 'Thailand' 'Timor-Leste' 'Turkey' 'Turkmenistan'
 'United Arab Emirates' 'Uzbekistan' 'Viet Nam' 'Yemen']
Number of unique countries: 51

What are the most common crops included in the dataset across all countries? Use value_counts() to print the number of occurrences of each crop category (column 'Item') in the dataframe.

In [16]:
#playing with code above to get started with Pandas
print(prod.value_counts(ascending=True))
df1 = prod[['Item', 'Item Code']]
df1
#may need sorting may need collation - we might want to ask
#print('Most common crops: {}'.format(len(prod['Item'].unique())))

Area Code  Area                        Item Code  Item                       Element Code  Element     Unit    Y1961     Y1961F  Y1962     Y1962F  Y1963     Y1963F  Y1964     Y1964F  Y1965     Y1965F  Y1966     Y1966F  Y1967     Y1967F  Y1968     Y1968F  Y1969     Y1969F  Y1970     Y1970F  Y1971     Y1971F  Y1972    Y1972F  Y1973     Y1973F  Y1974     Y1974F  Y1975     Y1975F  Y1976     Y1976F  Y1977     Y1977F  Y1978     Y1978F  Y1979     Y1979F  Y1980     Y1980F  Y1981     Y1981F  Y1982     Y1982F  Y1983     Y1983F  Y1984     Y1984F  Y1985     Y1985F  Y1986     Y1986F  Y1987     Y1987F  Y1988     Y1988F  Y1989     Y1989F  Y1990     Y1990F  Y1991     Y1991F  Y1992     Y1992F  Y1993     Y1993F  Y1994     Y1994F  Y1995     Y1995F  Y1996     Y1996F  Y1997     Y1997F  Y1998     Y1998F  Y1999     Y1999F  Y2000     Y2000F  Y2001     Y2001F  Y2002     Y2002F  Y2003     Y2003F  Y2004     Y2004F  Y2005     Y2005F  Y2006     Y2006F  Y2007     Y2007F  Y2008     Y2008F  Y2009     Y2009F  Y2010     Y2010F  Y2011     Y2011F  Y2012     Y2012F  Y2013     Y2013F  Y2014     Y2014F  Y2015     Y2015F  Y2016     Y2016F  Y2017     Y2017F  Y2018     Y2018F  Y2019     Y2019F
2          Afghanistan                 15         Wheat                      5419          Yield       hg/ha   10220.0   Fc      9735.0    Fc      8317.0    Fc      9510.0    Fc      9723.0    Fc      8666.0    Fc      11232.0   Fc      11562.0   Fc      11855.0   Fc      9563.0    Fc      8149.0    Fc      8457.0   Fc      11739.0   Fc      12074.0   Fc      12128.0   Fc      12494.0   Fc      11309.0   Fc      11980.0   Fc      12317.0   Fc      12549.0   Fc      12350.0   Fc      12299.0   Fc      12580.0   Fc      12319.0   Fc      12277.0   Fc      11890.0   Fc      12849.0   Fc      11728.0   Fc      11180.0   Fc      10510.0   Fc      10213.0   Fc      10313.0   Fc      10211.0   Fc      10250.0   Fc      10895.0   Fc      11220.0   Fc      12764.0   Fc      12964.0   Fc      12329.0   Fc      7240.0    Fc      8977.0    Fc      15419.0   Fc      15000.0   Fc      12659.0   Fc      18215.0   Fc      13760.0   Fc      18183.0   Fc      12263.0   Fc      19666.0   Fc      19252.0   Fc      15179.0   Fc      20104.0   Fc      20248.0   Fc      20237.0   Fc      21959.0   Fc      19803.0   Fc      20342.0   Fc      22100.0   Fc      20951.0   Fc        1
141        Mongolia                    75         Oats                       5419          Yield       hg/ha   5217.0    Fc      5938.0    Fc      7091.0    Fc      6156.0    Fc      5640.0    Fc      6735.0    Fc      6842.0    Fc      4233.0    Fc      2640.0    Fc      4605.0    Fc      6215.0    Fc      2756.0   Fc      9741.0    Fc      4826.0    Fc      8345.0    Fc      7976.0    Fc      7398.0    Fc      4191.0    Fc      6007.0    Fc      3975.0    Fc      2725.0    Fc      10210.0   Fc      10813.0   Fc      6901.0    Fc      12009.0   Fc      10036.0   Fc      8080.0    Fc      8821.0    Fc      10297.0   Fc      10418.0   Fc      3512.0    Fc      4231.0    Fc      5457.0    Fc      5623.0    Fc      6250.0    Fc      2941.0    Fc      4718.0    Fc      4607.0    Fc      4553.0    Fc      5331.0    Fc      4595.0    Fc      3929.0    Fc      11458.0   Fc      6790.0    Fc      5119.0    Fc      14760.0   Fc      8402.0    Fc      10949.0   Fc      10678.0   Fc      12791.0   Fc      12306.0   Fc      17852.0   Fc      13352.0   Fc      18158.0   Fc      10124.0   Fc      10587.0   Fc      8777.0    Fc      10761.0   Fc      11273.0   Fc        1
                                       108        Cereals nes                5419          Yield       hg/ha   7500.0    Fc      6000.0    Fc      6000.0    Fc      5875.0    Fc      4667.0    Fc      4750.0    Fc      5000.0    Fc      5882.0    Fc      1765.0    Fc      5667.0    Fc      2500.0    Fc      4333.0   Fc      8667.0    Fc      5750.0    Fc      8000.0    Fc      5000.0    Fc      3529.0    Fc      4444.0    Fc      3500.0    Fc      4444.0    Fc      3333.0    Fc      12027.0   Fc      13333.0   Fc      6795.0    Fc      8750.0    Fc      8387.0    Fc      7093.0    Fc      6029.0    Fc      8503.0    Fc      7266.0    Fc      5000.0    Fc      3939.0    Fc      4047.0    Fc      4036.0    Fc      4782.0    Fc      4954.0    Fc      5103.0    Fc      5000.0    Fc      4900.0    Fc      4552.0    Fc      4180.0    Fc      3798.0    Fc      2785.0    Fc      2584.0    Fc      2593.0    Fc      1463.0    Fc      2688.0    Fc      3222.0    Fc      2948.0    Fc      12514.0   Fc      12731.0   Fc      15810.0   Fc      6008.0    Fc      5218.0    Fc      6600.0    Fc      2427.0    Fc      3343.0    Fc      5994.0    Fc      10317.0   Fc        1
                                       116        Potatoes                   5419          Yield       hg/ha   96471.0   Fc      53111.0   Fc      77778.0   Fc      85185.0   Fc      90370.0   Fc      69310.0   Fc      60000.0   Fc      81935.0   Fc      53704.0   Fc      71724.0   Fc      56364.0   Fc      36429.0  Fc      103824.0  Fc      57000.0   Fc      94651.0   Fc      76596.0   Fc      78246.0   Fc      74615.0   Fc      99178.0   Fc      51216.0   Fc      85957.0   Fc      100133.0  Fc      101563.0  Fc      129897.0  Fc      110583.0  Fc      119082.0  Fc      118821.0  Fc      78329.0   Fc      123207.0  Fc      107467.0  Fc      88636.0   Fc      90230.0   Fc      67528.0   Fc      69231.0   Fc      83490.0   Fc      66381.0   Fc      82881.0   Fc      80276.0   Fc      72824.0   Fc      74727.0   Fc      65507.0   Fc      50707.0   Fc      93425.0   Fc      88327.0   Fc      84801.0   Fc      101716.0  Fc      99887.0   Fc      109652.0  Fc      111801.0  Fc      121584.0  Fc      131139.0  Fc      146207.0  Fc      123601.0  Fc      123069.0  Fc      128363.0  Fc      110043.0  Fc      93325.0   Fc      132198.0  Fc      112857.0  Fc        1
                                       211        Pulses nes                 5419          Yield       hg/ha   1714.0    Fc      1714.0    Fc      1857.0    Fc      1857.0    Fc      1447.0    Fc      8485.0    Fc      2593.0    Fc      2941.0    Fc      1765.0    Fc      2222.0    Fc      10000.0   Fc      1875.0   Fc      5581.0    Fc      3061.0    Fc      6579.0    Fc      5278.0    Fc      3684.0    Fc      1667.0    Fc      1250.0    Fc      3333.0    Fc      4167.0    Fc      6667.0    Fc      10000.0   Fc      6000.0    Fc      10000.0   Fc      8108.0    Fc      7500.0    Fc      7500.0    Fc      7500.0    Fc      7500.0    Fc      5000.0    Fc      4615.0    Fc      6000.0    Fc      5000.0    Fc      5893.0    Fc      6398.0    Fc      7500.0    Fc      7413.0    Fc      7710.0    Fc      7972.0    Fc      8800.0    Fc      8426.0    Fc      8585.0    Fc      8745.0    Fc      8907.0    Fc      9063.0    Fc      9643.0    Fc      9448.0    Fc      9571.0    Fc      9703.0    Fc      10000.0   Fc      10000.0   Fc      10000.0   Fc      10316.0   Fc      10724.0   Fc      10754.0   Fc      10902.0   Fc      11059.0   Fc      11210.0   Fc        1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
102        Iran (Islamic Republic of)  512        Fruit, citrus nes          5419          Yield       hg/ha   56250.0   Fc      55294.0   Fc      55556.0   Fc      57895.0   Fc      60000.0   Fc      64286.0   Fc      66667.0   Fc      69565.0   Fc      69231.0   Fc      71429.0   Fc      71667.0   Fc      71875.0  Fc      69444.0   Fc      70270.0   Fc      70513.0   Fc      72500.0   Fc      73810.0   Fc      74419.0   Fc      69767.0   Fc      72093.0   Fc      76744.0   Fc      81395.0   Fc      85366.0   Fc      85417.0   Fc      89815.0   Fc      87692.0   Fc      89474.0   Fc      84884.0   Fc      91954.0   Fc      85073.0   Fc      118177.0  Fc      132731.0  Fc      136583.0  Fc      154651.0  Fc      171286.0  Fc      175488.0  Fc      219130.0  Fc      215443.0  Fc      219096.0  Fc      226515.0  Fc      226519.0  Fc      218878.0  Fc      211331.0  Fc      219901.0  Fc      233214.0  Fc      223605.0  Fc      199196.0  Fc      196570.0  Fc      192515.0  Fc      202468.0  Fc      208019.0  Fc      213266.0  Fc      223065.0  Fc      234749.0  Fc      243323.0  Fc      231545.0  Fc      232525.0  Fc      234023.0  Fc      235529.0  Fc        1
                                       515        Apples                     5419          Yield       hg/ha   34211.0   Fc      34211.0   Fc      34211.0   Fc      34000.0   Fc      35714.0   Fc      36279.0   Fc      36364.0   Fc      36364.0   Fc      38444.0   Fc      38478.0   Fc      39610.0   Fc      38957.0  Fc      40000.0   Fc      39535.0   Fc      40000.0   Fc      54286.0   Fc      58824.0   Fc      50000.0   Fc      57895.0   Fc      60000.0   Fc      69424.0   Fc      97206.0   Fc      94760.0   Fc      84249.0   Fc      91686.0   Fc      93926.0   Fc      97995.0   Fc      101467.0  Fc      95796.0   Fc      108407.0  Fc      95575.0   Fc      107739.0  Fc      115188.0  Fc      138795.0  Fc      136743.0  Fc      136631.0  Fc      141665.0  Fc      137047.0  Fc      148132.0  Fc      143532.0  Fc      158298.0  Fc      156158.0  Fc      164873.0  Fc      141847.0  Fc      163445.0  Fc      154595.0  Fc      171163.0  Fc      160308.0  Fc      164642.0  Fc      147201.0  Fc      157788.0  Fc      157280.0  Fc      153321.0  Fc      102410.0  Fc      104167.0  Fc      148769.0  Fc      200692.0  Fc      190941.0  Fc      222424.0  Fc        1
                                       521        Pears                      5419          Yield       hg/ha   35417.0   Fc      39583.0   Fc      42857.0   Fc      46000.0   Fc      45455.0   Fc      45455.0   Fc      45000.0   Fc      45000.0   Fc      46154.0   Fc      46154.0   Fc      38690.0   Fc      59722.0  Fc      55556.0   Fc      55556.0   Fc      52778.0   Fc      50000.0   Fc      47222.0   Fc      44444.0   Fc      38889.0   Fc      38889.0   Fc      39989.0   Fc      66753.0   Fc      64757.0   Fc      71020.0   Fc      74673.0   Fc      76779.0   Fc      76958.0   Fc      83113.0   Fc      78876.0   Fc      81220.0   Fc      84965.0   Fc      87460.0   Fc      88521.0   Fc      107149.0  Fc      102826.0  Fc      103483.0  Fc      106966.0  Fc      104393.0  Fc      93849.0   Fc      109031.0  Fc      114302.0  Fc      114483.0  Fc      112730.0  Fc      101901.0  Fc      103143.0  Fc      99136.0   Fc      124917.0  Fc      118721.0  Fc      118722.0  Fc      120867.0  Fc      128257.0  Fc      137061.0  Fc      96988.0   Fc      161570.0  Fc      158333.0  Fc      189368.0  Fc      355600.0  Fc      236922.0  Fc      235002.0  Fc        1
                                       403        Onions, dry                5419          Yield       hg/ha   111111.0  Fc      111111.0  Fc      114286.0  Fc      115789.0  Fc      114286.0  Fc      114074.0  Fc      118667.0  Fc      124667.0  Fc      157059.0  Fc      152500.0  Fc      125000.0  Fc      86000.0  Fc      102333.0  Fc      101667.0  Fc      110000.0  Fc      113333.0  Fc      115294.0  Fc      163226.0  Fc      139189.0  Fc      157750.0  Fc      169665.0  Fc      178985.0  Fc      177366.0  Fc      194280.0  Fc      182806.0  Fc      188374.0  Fc      207735.0  Fc      244420.0  Fc      271690.0  Fc      200450.0  Fc      254300.0  Fc      283647.0  Fc      248541.0  Fc      277530.0  Fc      235530.0  Fc      292698.0  Fc      248869.0  Fc      252468.0  Fc      300648.0  Fc      305403.0  Fc      300660.0  Fc      337503.0  Fc      343755.0  Fc      335967.0  Fc      337427.0  Fc      344045.0  Fc      342728.0  Fc      289125.0  Fc      316815.0  Fc      345340.0  Fc      351249.0  Fc      352684.0  Fc      369936.0  Fc      374987.0  Fc      380945.0  Fc      385345.0  Fc      371061.0  Fc      382494.0  Fc      391804.0  Fc        1
249        Yemen                       1841       Oilcrops, Cake Equivalent  5510          Production  tonnes  7918.0    A       9638.0    A       11405.0   A       8711.0    A       13095.0   A       7119.0    A       8046.0    A       6823.0    A       9109.0    A       7968.0    A       12447.0   A       12990.0  A       14695.0   A       15024.0   A       13091.0   A       12915.0   A       10154.0   A       10816.0   A       10141.0   A       7701.0    A       10609.0   A       11141.0   A       10605.0   A       9237.0    A       5498.0    A       8750.0    A       8698.0    A       5505.0    A       8337.0    A       7329.0    A       6436.0    A       9544.0    A       10328.0   A       9741.0    A       11130.0   A       12801.0   A       14697.0   A       16481.0   A       17088.0   A       18231.0   A       19207.0   A       18672.0   A       18899.0   A       16059.0   A       16485.0   A       18285.0   A       19331.0   A       19935.0   A       21024.0   A       21777.0   A       21124.0   A       19944.0   A       19262.0   A       18633.0   A       16648.0   A       15973.0   A       15883.0   A       12817.0   A       18871.0   A         1
Name: count, Length: 2810, dtype: int64

                                  Item  Item Code
0                  Almonds, with shell        221
1                  Almonds, with shell        221
2                  Almonds, with shell        221
3     Anise, badian, fennel, coriander        711
4     Anise, badian, fennel, coriander        711
...                                ...        ...
9633                   Treenuts, Total       1729
9634                   Treenuts, Total       1729
9635                Vegetables Primary       1735
9636                Vegetables Primary       1735
9637                Vegetables Primary       1735

[9638 rows x 2 columns]

Print a list of the countries in the dataframe sorted by the number of rows in which it appears.

In [ ]:
sorted([(country, df.shape[0]) for country, df in prod.groupby('Area')], key=YOUR CODE HERE)

What are the trends in crop production for cereal crops (includes maize, wheat, etc.) from 1961 to 2019? Plot a line plot of crop production for the following countries: India, Japan, Iran, Turkey, and China (mainland). Only plot the values in the columns with format 'YXXXX'.

Step 1: filter the dataframe to only include rows for the specified countries.

In [ ]:
sel_prod = prod[prod['Area'].isin(YOUR CODE HERE)]

Step 2: filter the columns to only include Area, Item, Element, and those matching the pattern 'YXXXX'.

In [ ]:
year_cols = [col for col in sel_prod.columns if (col.startswith('Y') and len(col) == 5)]

In [ ]:
sel_prod = sel_prod[['Area', 'Item', 'Element'] + year_cols]

In [ ]:
sel_prod

Step 3: filter that dataframe to include only the rows for which Element has the value 'Production' and Item contains 'Cereals, Total'.

In [ ]:
sel_prod = sel_prod[YOUR CODE HERE]

Step 4: Plot the line plot of production values from 1961 to 2019 for each of the 5 countries (each country should be a separate line). Only the 'YXXXX' columns should be used for the line plot values.

Note: pandas by default plots by column, so to plot each of the countries as its own line, we need to transpose the dataframe so that each column contains the values for one country.

In [ ]:
sel_prod_t = sel_prod.T

In [ ]:
sel_prod_t

In [ ]:
sel_prod_t.columns = ['India', 'Japan', 'Turkey']

In [ ]:
sel_prod_t[3:].plot(kind='line', title='Total Cereals Production from 1961 to 2019 (tonnes)')